//insert styles here. can also add variables or set them in another file
body {
	background-color: $customBlue;
}

h1 {
	color: #0000FF;
}

.userAccessContainer{
	display: grid;
	max-width: 300px;
	grid-template-columns: auto;
}

.userInputFieldContainer{
  color: #111111;
	display: grid;
	grid-template-columns: auto;
}

.userInputField{
	color: #009900;
}

.userAccessButton{
	margin-top: 20px;
}